<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/css/sobre.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="../templates/index.html">Dog</a>
        </div>
        <div class="search-bar">
            <ul class="nav-links">
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
        </div>
    </div>
    
    <div class="corpo">
        <div class="header">
            <img src="../static/img/dog1.jpg" alt="img do header">
        </div>
        
        <div class="container">
            <h1>Sobre mim</h1>            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, deleniti voluptas. Illo animi, eos porro labore voluptatum hic repellat et deleniti eligendi tempora tenetur aut amet saepe, minima soluta ipsam!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius explicabo eaque eum. Sequi architecto quidem illum facere voluptate odio enim voluptates aliquid, laborum, ullam mollitia harum qui consequatur dolorum tempora?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius explicabo eaque eum. Sequi architecto quidem illum facere voluptate odio enim voluptates aliquid, laborum, ullam mollitia harum qui consequatur dolorum tempora?</p>
        </div>
    </div>

    <div class="footer">
        <div class="elementos">
            <ul>
                <li>
                    <a href="#">
                        <img src="" alt="logo-insta">
                        <p>Instagram</p>
                    </a>
            </li>
                <li>
                    <a href="#">
                        <img src="" alt="logo-zap">
                        <p>WhatsApp</p>
                    </a>
            </li>
                <li>
                    <a href="#">
                        <img src="" alt="logo-email">
                        <p>Email</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="" alt="logo-telefone">
                        <p>Telefone</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    
</body>
</html>