<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Editar Registro</title>
</head>
<body>
  <h1>Editar Registro</h1>

  <form method="post" action="{{ url_for('editar_registro', index=index) }}">
  <table>
    <tr>
      {% for col in header %}
        <th>{{ col }}</th>
      {% endfor %}
    </tr>
    <tr>
      {% for col in header %}
        <td>
          <input type="text" name="{{ col }}">
        </td>
      {% endfor %}
    </tr>
  </table>
  <br>
  <button type="submit">Salvar Alterações</button>
</form>

</body>
</html>
